// Cores (Inspirado no Pokémon TCG)
$pokemon-blue: #1E5B89;
$pokemon-yellow: #F3C83E;
$dark-text: #2c2c2c;
$light-text: #ffffff;
$background-light: #f4f4f4;

// Fontes (Inspirado no estilo Pokémon)
$font-headings: 'Lilita One', cursive;
$font-body: 'Roboto', sans-serif;
